<!-- CSS_ROW is added by ilTable2GUI and MUST be declared for proper styles. -->
<tr class="{CSS_ROW}">
    <td class="std small">{COL_ROUTINE_REF_ID}</td>
    <td class="std small">{COL_ROUTINE_ACTIVE}</td>
    <td class="std small">{COL_ROUTINE_ORIGIN_TYPE}</td>
    <td class="std small">{COL_ROUTINE_OWNER_ID}</td>
    <td class="std small">{COL_ROUTINE_CREATION_DATE}</td>
    <td class="std small">{COL_ROUTINE_OPT_OUT_POSSIBLE}</td>
    <td class="std small">{COL_ROUTINE_ELONGATION_DAYS}</td>
    <td class="std small">{COL_ACTIONS}</td>
</tr>